
@{
    ViewData["Title"] = "All Data";
}
<div class="row">
    <div class="col-12">
        <a href="/Home/Index" class="btn btn-success">Register</a>
    </div>
</div>
<div class="row my-5">
    <div class="col-8 m-auto py-3">
        <table class="table" id="datatable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Name</th>
                    <th scope="col">Password</th>
                    <th scope="col">Register Date</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    
                    
                </tr>
            </thead>
            <tbody id="tbody">
             
            </tbody>
        </table>
    </div>
</div>


